.background {
    /* min-width: 100vh ;  */
    min-height: 100vh;
    background-color: #fffffe;
}

.div_container{
    display: flex;
    padding: 50px 50px;
   
}

.btni{
    font-size: 20px;
        font-weight: bold;
        background-color: #ffd803;
        color: #272343;
        padding: 20px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease;
}
.btni:hover {
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.1);
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.field{
    margin-bottom: 20px;
}

.label{
    display: block;
    margin: 0 0 5px 0;
    font-weight: 700;
    font-size: 20px;
}


.input{
    font-family: inherit;
    margin-bottom: 20px;
    color: #272343;
    outline: none;
    background-color:#fffffe;
    font-size: 17px;
    padding: 10px 15px;
    border: 1px solid rgb(34,34,34,0.15);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.error {
    margin-top: 0;
    font-family: inherit;
    font-weight: bold;
    color: red;
}

.card{
    background-color: #e3f6f5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.btn {
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #272343;
    color: #fffffe;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2);
}

    .select_css {
            display: block;
            font-size: 17px;
            font-family: inherit;
            font-weight: 400;
            color: #444;
            line-height: 1.3;
            padding: .4em 1.4em .3em .8em;
            width: 400px;
            max-width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
            border: 1px solid rgb(34, 34, 34, 0.15);
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
            border-radius: .3em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }
    
        .select_css::-ms-expand {
            display: none;
        }
    
        .select_css:hover {
            border-color: #888;
        }
    
        .select_css:focus {
            border-color: #aaa;
            box-shadow: none;
            color: #272343;
            outline: none;
        }
    
        .select_css option {
            font-weight: normal;
        }

    .id_country{
        display: flex;
        color: #272343;
        font-size: 15px;
        font-family: inherit;
        margin-top: 10px;
        justify-content: center;
        background-color:#bae8e8 ;
        padding: 0.5px;
        width: 70px;
        border-radius: 5px;
        
    }

        .div_id{
          display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
         align-items: center;
               
        }
        
 .btn_delete{
    float: left; /*ubica el boton arriba a la izquierda */
    background-color: #272343;
    color: #fffffe;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    position: absolute;
    margin-left: 50px;
    padding: 0.5px;
    cursor: pointer;
        }

        .btn_delete:hover{
            font-size: 15px;
            font-weight: bold;
            background-color: red;
            /* border: 1px solid black; */
            box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2);

        }



