.background {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fffffe;


}

.container_titulo h1 {
    font-size: 50px;
    font-weight: 700px;
    color: #272343;
}

.container_titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-row-gap: 2rem;
    align-items: center;
    margin: 0 5rem 0 10rem;
    
    max-width: 100%;

   
}

.container_select_Activity {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container_select_Activity span {
    margin: 5px;
}



@media (max-width: 750px) {
    .container_titulo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container_select_Activity {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 600px) {

    .background {
        height: 150vh;
        width: 100vh;
    }
    

    .container_titulo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container_select_Activity {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .container {
        margin: 0 5rem 0 16.1rem;
    }
}
@media (max-width: 376px) {
    .container {
        margin: 0 5rem 0 11rem;
    }

}
@media (max-width: 361px) {
    .container {
        margin: 0 5rem 0 13rem;
    }

}